// layout

@mixin grid-layout()
{
  body {
    display: grid;
    //max-width: 1280px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header main aside';
  }

  body > header, main, aside { padding: f.p(whitespace); }

  header { grid-area: header; }

  aside { grid-area: aside; }

  main {
    grid-area: main;

    section {
      grid-area: main;

      header { grid-column: title; }
    }
  }

  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'description tags';
    grid-column-gap: calc(#{f.p(whitespace)} * 2);

    p { grid-area: description; }

    ul { grid-area: tags; }
  }
}
