@mixin grid-layout()
{
  time {
    @extend .t-oblique;
    display: block;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header main aside';
  }

  body > header, main, aside { padding: f.p(whitespace); }

  header {
    grid-area: header;
    .firstname, abbr { margin-top: 0; }
    .firstname { display: block; }
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'sections header';
    column-gap: f.p(whitespace);

    & > header {
      grid-column: header;
      writing-mode: vertical-rl;
    }

    section {
      grid-column: sections;

      &:first-of-type { margin-top: 0; }
    }
  }

  aside {
    grid-area: aside;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'sections header';
    column-gap: f.p(whitespace);

    header {
      grid-column: header;
      writing-mode: vertical-rl;
    }

    section {
      grid-column: sections;

      &:first-of-type { margin-top: 0; }
    }

  }

  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'description tags';
    grid-column-gap: calc(#{f.p(whitespace)} * 2);

    p { grid-area: description; }

    ul { grid-area: tags; }
  }
}
