@mixin grid-layout()
{
  body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header main aside';
  }

  body > header, main, aside { padding: f.p(whitespace); }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'header sections';
    background-color: pink;

    & > header {
      grid-area: header;
      writing-mode: vertical-rl;
    }

    section {
      grid-area: sections;
      background-color: olive;
    }

    //article { grid-area: sections; }
  }

  aside {
    grid-area: aside;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'header section';

    header {
      grid-column: header;
      writing-mode: vertical-rl;
    }

    section { grid-column: section; }
  }

  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'description tags';
    grid-column-gap: calc(#{f.p(whitespace)} * 2);

    p { grid-area: description; }

    ul { grid-area: tags; }
  }
}
