@mixin theme() {
  [data-theme="minimal"] {
    @extend .t-medium;
    //background-color: #FAFAFA;
    color: #444;
    line-height: 1.6;
    font: {
      family: ManropeGX, sans-serif;
      weight: 200;
    }

    .t-h1, .t-h2, .t-h3, abbr { font-weight: 600; }

    .t-h4, .t-h5 { font-weight: 350; }

    .position {
      margin-top: calc(#{f.p(whitespace)} / 2 );
      font-weight: 700;
    }

    .diploma { font-weight: 500; }

    time {
      @extend .t-oblique;
      line-height: 1;
      font: {
        weight: 200;
        //size: .75em;
      }
    }

    main, aside, & > header {
      * + * {
        margin-top: f.p(whitespace);

        ul, li { margin-top: 0; }
      }
    }

    & > header {
      .t-h1 { line-height: 1; }
      .firstname { font-weight: 200; }
      abbr { text-decoration: none; }
    }

    main {
      & > header .t-h2 { font-weight: 200; }

    }

    section {
      header .t-h3 { margin-top: 0; }
    }

    aside {
      .t-h2 { font-weight: 200; }
      section {
        dl li { display: inline; }
        dt { font-weight: 500; }
        dd { margin-top: calc(#{f.p(whitespace)} / 2); }
        & + section {
          padding-top: f.p(whitespace);
          border-top: 1px solid #EDEDED;
          li + li {
            border-top: 1px solid #EDEDED;
            margin-top: calc(#{f.p(whitespace)} / 2);
            padding-top: calc(#{f.p(whitespace)} / 2);
          }
        }
      }
    }

    article {
      + article {
        padding-top: calc(#{f.p(whitespace)} / 2);
        border-top: 1px solid #EDEDED;
      }
      p { @extend .t-justify; }
      ul {
        @extend .t-oblique, .t-small, .t-right;
        li {
          display: inline;
          font-weight: 400;
        }
      }
    }
  }
}
