@mixin theme()
{
  body {
    @extend .t-medium;
    color: #444;
    line-height: 1.6;
    font: {
      family: Estedad, sans-serif;
      weight: 200;
    }
  }
  .t-h1, .t-h2, .t-h3, .t-h4, .t-h5 { font-family: ManropeGX, sans-serif; }

  .t-h1, .t-h2, .t-h3, abbr { font-weight: 600; }

  .t-h4, .t-h5 { font-weight: 350; }

  .firstname { color: f.p(primary-base); }
  .position {
    margin-top: f.p(half-whitespace);
    font-weight: 700;
  }

  .diploma { font-weight: 500; }

  time {
    @extend .t-oblique, .t-medium;
    line-height: 1;
    font-weight: 200;
    color: silver;
  }

  main, aside, body > header {
    * + * {
      margin-top: f.p(whitespace);

      ul, li { margin-top: 0; }

      li { @extend .t-medium; }
    }
  }

  body > header {
    .t-h1 { line-height: 1; }
    .firstname {
      @extend .t-medium;
      font-weight: 200;
    }
    address {
      @extend .t-small;
      padding-top: f.p(half-whitespace);
      border-top: 1px solid #EDEDED;
    }
    abbr { text-decoration: none; }
  }

  // sections header
  main > header .t-h2,
  aside .t-h2 {
    font-weight: 200;
    letter-spacing: 0.081em;
    color: silver;
  }

  section {
    header .t-h3 { margin-top: 0; }
  }

  aside {
    section {
      dl li { display: inline; }
      dt { font-weight: 500; }
      dd, dt { margin-top: f.p(half-whitespace); }
      & + section {
        padding-top: f.p(whitespace);
        border-top: 1px solid #EDEDED;
        li {
          + li {
            border-top: 1px solid #EDEDED;
            margin-top: f.p(half-whitespace);
            padding-top: f.p(half-whitespace);
          }
        }
      }
    }
  }

  article {
    padding-top: f.p(half-whitespace);
    border-top: 1px solid #EDEDED;
    p, ul {
      @extend .t-medium;
    }
    p { @extend .t-justify; }
    ul {
      @extend .t-oblique, .t-small, .t-right;
      li {
        color: f.p(primary-base);
        display: inline;
        font-weight: 400;
        letter-spacing: 0.098em;
      }
    }
  }

  @include f.breakpoint(md) {
    body > header address {
      border-top-width: 0;
      padding-top: 0;
    }
    main, aside { border-top: 1px solid #EDEDED; }
  }

  @include f.breakpoint(sm) {
    body > header address {
      border-top-width: 0;
      padding-top: 0;
    }
    main, aside { border-top: 1px solid #EDEDED; }
  }
}
