@import 'layout';
@import 'theme';

:root {
  --whitespace: 1.6rem;
}

* { box-sizing: border-box; }

html { font: normal 10px/1.6 sans-serif; }
html, body {
  margin: 0;
  padding: 0;
}

@include grid-layout;
@include theme;
