@use 'sass-repository/framework' as f with (
  $breakpoints: (
    sm :  576px,
    md :  768px,
    lg :  992px,
    xl : 1200px,
  ),
  $colors : (
    /// Colors are transpiled to custom properties named --color-variant,
    ///   ex. --primary-base
    primary : (
      base  : #FF6C62,
      //dark  : #0047b3,
      light : #fbf5e9,
    ),
    secondary : (
      base  : #6C62FF,
      //dark  : #47b300,
      //light : #94ff4d,
    ),
    tertiary: (
      base: #F8D986,
      //base: #ffbb62,
    ),
    accent : (
      base  : #62FF6C,
      //dark  : #ff0066,
      //light : #ff4d94,
    ),
    text: (
      base: #002f76,
      light: #001f4e,
      dark: #001f4e,
    ),
    'gray' : (
      base   : #888888,
      darker : #111111,
      dark   : #333333,
      light  : #eeeeee,
    ),
    notice : (
      success : #1aaa55,
      info    : #1f78d1,
      warning : #fc9403,
      danger  : #db3b21
    ),
  ),
  $font-sizes: (
    h1      : 1.8em,
    h2      : 1.6em,
    h3      : 1.4em,
    h4      : 1.2em,
    h5      : 1.1em,
    leading : 1.1em,
    copy    : 1em,
    medium  : 0.9em,
    small   : 0.8em,
    xsmall  : 0.6rem,
  ),
  $vars : (
    whitespace          : 1.6rem,
    field-height        : 2.5rem,
    field-border-width  : 1px,
    field-border-radius : 0.2rem,
    btn-border-width    : 1px,
    btn-border-radius   : 0.3rem,
));

@include f.init;
@include f.text;
@include f.responsive-font-size(
  $min-size: 12, $min-width: 400,
  $max-size: 16, $max-width: 800
);
@import 'layout';
@import 'theme';

@include grid-layout;
@include theme;

* { box-sizing: border-box; }

//html {
  //font: normal 10px/2 sans-serif;
//}
html, body {
  margin: 0;
  padding: 0;
}

.whitespaced {
  * + * { margin-top: f.p(whitespace); }

  &-exclude {
    margin-top: 0;

    &-all {
      * + * { margin-top: 0; }
    }
  }
}

