@import url("https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,200..700;1,200..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  appearance: none;
}

input[type=search] {
  appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=search] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

:root {
  font: normal 10px sans-serif;
  box-sizing: border-box;
  --whitespace: 1.6rem;
  --field-height: 2.5rem;
  --field-border-width: 1px;
  --field-border-radius: 0.2rem;
  --btn-border-width: 1px;
  --btn-border-radius: 0.3rem;
  --primary-base: #FF6C62;
  --primary-dark: #4E0500;
  --primary-light: #FBF5E9;
  --secondary-base: #6C62FF;
  --tertiary-base: #F8D986;
  --accent-base: #62FF6C;
  --text-base: #002f76;
  --text-light: #001f4e;
  --text-dark: #140100;
  --gray-base: #888888;
  --gray-darker: #111111;
  --gray-dark: #333333;
  --gray-light: #eeeeee;
  --notice-success: #1aaa55;
  --notice-info: #1f78d1;
  --notice-warning: #fc9403;
  --notice-danger: #db3b21;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.r-img, .r-image {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .r-only-sm {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .r-only-sm {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  .r-only-sm {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .r-only-md {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .r-only-md {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  .r-only-md {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .r-only-lg {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .r-only-lg {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  .r-only-lg {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .r-only-xl {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .r-only-xl {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .r-only-xl {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .r-hide-sm {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .r-hide-md {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .r-hide-lg {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  .r-hide-xl {
    display: none;
  }
}

.t-h1 {
  font-size: 1.8em;
}
.t-h2 {
  font-size: 1.6em;
}
.t-h3 {
  font-size: 1.4em;
}
.t-h4 {
  font-size: 1.2em;
}
.t-h5 {
  font-size: 1.1em;
}
.t-leading, body > header .t-h2 {
  font-size: 1.1em;
}
.t-copy {
  font-size: 1em;
}
.t-medium {
  font-size: 0.9em;
}
.t-small, article ul, main time {
  font-size: 0.8em;
}
.t-xsmall {
  font-size: 0.6rem;
}

.o-hidden {
  overflow: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-visible {
  visibility: visible;
}
.d-hidden {
  visibility: hidden;
}
.d-inline {
  display: inline;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}

.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.t-justify, article p {
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}
.t-italic, .t-oblique, article ul, main time {
  font-style: italic;
}
.t-ellipsis {
  text-overflow: ellipsis;
}
.t-nowrap {
  white-space: nowrap;
}
.t-ellipsis {
  display: block;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}
.flex > * {
  flex-grow: 1;
}
.flex.--inline {
  display: inline-flex;
}
.flex-column {
  flex-direction: column;
}
.flex-none {
  flex: none;
}
.flex-row {
  flex-direction: row;
}
.flex-shrink {
  flex-shrink: 1;
  flex-grow: 0 !important;
}
.flex-grow {
  flex-grow: 1;
  flex-shrink: 0 !important;
}
.flex-justify-sbetween {
  justify-content: space-between;
}
.flex-justify-sarround {
  justify-content: space-around;
}
.flex-justify-sevenly {
  justify-content: space-evenly;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-start {
  justify-content: flex-start;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-self-stretch {
  justify-self: stretch;
}
.flex-justify-self-center {
  justify-self: center;
}
.flex-justify-self-fstart {
  justify-self: flex-start;
}
.flex-justify-self-start {
  justify-self: start;
}
.flex-justify-self-fend {
  justify-self: flex-end;
}
.flex-justify-self-end {
  justify-self: end;
}
.flex-align-baseline {
  align-items: baseline;
}
.flex-align-stretch {
  align-items: stretch;
}
.flex-align-center {
  align-items: center;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-self-stretch {
  align-self: stretch;
}
.flex-align-self-center {
  align-self: center;
}
.flex-align-self-fstart {
  align-self: flex-start;
}
.flex-align-self-start {
  align-self: start;
}
.flex-align-self-fend {
  align-self: flex-end;
}
.flex-align-self-end {
  align-self: end;
}
.flex-breaker {
  flex: none;
  width: 100%;
  max-width: 100%;
  height: 1px;
  background-color: transparent;
  border-width: 0;
  margin: 0;
  margin-top: -1px;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  appearance: none;
}

input[type=search] {
  appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=search] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.t-justify, article p {
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}
.t-italic, .t-oblique, article ul, main time {
  font-style: italic;
}
.t-ellipsis {
  text-overflow: ellipsis;
}
.t-nowrap {
  white-space: nowrap;
}
.t-ellipsis {
  display: block;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  font-size: 12px;
}

@media (min-width: 400px) and (max-width: 800px) {
  :root {
    font-size: responsive-font-size(12, 400, 16, 800);
  }
}
@media (min-width: 800px) {
  :root {
    font-size: 16px;
  }
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header main aside";
}

body > header, main, aside {
  padding: var(--whitespace);
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}
main section {
  grid-area: main;
}
main section header {
  grid-column: title;
}

article {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "description tags";
  grid-column-gap: calc(var(--whitespace) * 2);
}
article p {
  grid-area: description;
}
article ul {
  grid-area: tags;
}

.t-h1, .t-h2, .t-h3, .t-h4, .t-h5 {
  font-family: Oswald;
}

body {
  color: var(--primary-dark);
  background-color: #FEFEFE;
  font-family: Quicksand;
  line-height: 1.6;
}

main * + *, aside * + *, body > header * + * {
  margin-top: var(--whitespace);
}
main * + * ul, main * + * li, aside * + * ul, aside * + * li, body > header * + * ul, body > header * + * li {
  margin-top: 0;
}

.t-h2 {
  text-transform: uppercase;
}

body > header {
  background-color: var(--tertiary-base);
}
body > header .firstname {
  color: initial;
  display: block;
  margin-top: 0;
}
body > header .t-h1 {
  line-height: 1;
}
body > header .t-h2 {
  color: initial;
}
body > header abbr, body > header .t-h1, body > header .t-h2, body > header .t-h3, body > header .t-h4 {
  color: var(--primary-base);
}
body > header abbr {
  text-decoration: none;
}

main {
  background-color: var(--primary-light);
}
main .t-h2 {
  color: var(--tertiary-base);
}
main time {
  color: var(--primary-base);
}

article ul li {
  display: inline;
  font-weight: 100;
}

aside {
  color: white;
  background-color: var(--primary-base);
}
aside time, aside .t-h2 {
  color: var(--tertiary-base);
}
aside time, aside abbr, aside .diploma {
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.whitespaced * + * {
  margin-top: var(--whitespace);
}
.whitespaced-exclude {
  margin-top: 0;
}
.whitespaced-exclude-all * + * {
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
